<html>
    <head>
        <title>Что то на эльфийском</title>
    </head>
    <body>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Black Speech</a></h2>
            <p>Ash nazg durbatulûk,Ash nazg gimbatul,Ash nazg thrakatulûk,Agh burzum-ishi krimpatul.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Что в переводе на английский язык означает:</a></h2>
            <p>One Ring to rule them all,  <br> One Ring to find them,  <br> One Ring to bring them all  <br> And in the Darkness bind them. </p>
        </div>
    </body>
</html>
